.grid {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
	display: none;
}
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.padding {
	padding: 0vw 8.25vw;
}
.padding-left {
	padding-left: 8.25vw;
}
.padding-right {
	padding-right: 8.25vw;
}
.pc {
	display: flex;
}
.mobile {
	display: none;
}

/* ------------------------------------------------------------------------------------------------------- */
.homepage-titel {
	padding: 0.8vw 7.5vw;
	height: 37.5vw;
	margin-bottom: 15vw;
}
.homepage-titel-info {
	height: 11vw;
	padding-left: 0.5vw;
	z-index: 2;
}
.titel-images-behind {
	padding-top: 7.5vw;
	z-index: -1;
	position: absolute;
	width: 49vw;
}
.titel-images-front {
}
.image-front {
	padding-top: 4vw;
	width: 27.5vw;
}
.image-behind {
	width: 20vw;
}

.elements {
	position: absolute;
	width: 82.25vw;
}
.homepage-titel-image {
	width: 50vw;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 5vw;
}

.GE1 {
	margin-left: -7.5vw;
	padding-top: 1.5vw;
	width: 28vw;
	height: auto;
	z-index: -1;
}
.GE2 {
	width: 15vw;
	padding-top: 10vw;
	padding-left: 3vw;
	z-index: 1;
}
.GE3 {
	position: absolute;
	margin: 0.5vw 0vw 0vw 4vw;
	z-index: -1;
	width: 10vw;
	height: auto;
}

.homepage-image-building {
	width: 50vw;
}
.homepage-image-info {
	height: 27.5vw;
	width: 35vw;
	padding-right: 7.5vw;
	padding-top: 1vw;
}

.homepage-labs {
	margin-top: 10vw;
	margin-left: 0.5vw;
	width: 84.25vw;
	align-self: center;
}

.homepage-lab {
	height: 44.5vw;
	width: 27.5vw;
}
.homepage-lab-name {
	height: 15vw;
}
.homepage-lab-image {
	width: 27vw;
}
.GE4 {
	position: absolute;
	margin: 0vw 0vw 0vw 3vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}

/* --------------------------------------------------------------------------------------------------------------- */
.studio-titel-image {
	position: absolute;
	z-index: -1;
	margin-top: -5vw;
	width: 42.25vw;
}
.studio-titel {
	padding: 2vw 0vw 0vw 50.5vw;
	height: 32.5vw;
	margin-bottom: 5vw;
}
.studio-titel-info {
	width: 35vw;
	height: 12.5vw;
}
.studio-info {
	width: 41.5vw;
	height: 15vw;
	padding-top: 10vw;
}

.studio-image2 {
	width: 42.5vw;
	margin-top: 5vw;
}

/* medialab en fablab------------------------------------------------------------------------------------------------------------- */
.lab-titel-image {
	position: absolute;
	z-index: -1;
	margin-top: -5vw;
	width: 42.25vw;
}
.lab-titel {
	padding: 2vw 0vw 0vw 50.5vw;
	height: 27.5vw;
}

.lab-titel-info {
	width: 34vw;
	height: 12vw;
}
.lab-GE1 {
	position: absolute;
	z-index: -1;
	margin-left: -6vw;
	margin-top: -1.5vw;
	width: 15vw;
}
.machinepark {
	padding: 8vw 5vw 0vw 8vw;
	flex-wrap: wrap;
}
.machines {
	margin-top: 2.5vw;
}
.machine {
	width: 27vw;
	height: 32.5vw;
	margin-right: 1.5vw;
}
.machine-info {
	height: 10vw;
}
.machine-info p {
	margin-bottom: 1vw;
}
.machine img {
	width: 27vw;
	max-height: 18vw;
	overflow: hidden;
}
.lab-image2 {
	width: 10vw;
}
.bottom-image {
	height: 70vw;
	align-content: flex-start;
	width: 40vw;
}
.lab-info {
	width: 41.5vw;
	padding-left: 8vw;
}
.lab-info-height {
	height: 15vw;
}

.slideshow-container {
	margin-top: 12.5vw;
	margin-left: 30vw;
	width: 100vw;
	perspective: 1000px;
}

.mySlides {
	position: absolute;
	top: 0;
	left: 0;
	width: 20vw;
	height: 20vw;
	transform-style: preserve-3d;
	transition: transform 0.5s ease-in-out;
}
.mySlides img {
	width: 15vw;
	height: 15vw;
}

.mySlides:nth-child(1) {
	transform: translateX(80%) translateY(0%) rotateY(0deg) scale(1);
	font-size: 2vw;
	text-align: center;
}

.mySlides:nth-child(2) {
	transform: translateX(0) rotateY(0deg) scale(1.5);
	font-size: 2vw;
	text-align: right;
}

.mySlides:nth-child(3) {
	transform: translateX(80%) translateY(-0%) rotateY(0deg) scale(1);
	text-align: left;
	font-size: 2vw;
}

/* mobile________________________________________________________________________________________________________- */
@media screen and (max-width: 768px) {
	.pc {
		display: none;
	}
	.mobile {
		display: flex;
	}
	.flex-responsive {
		flex-direction: column;
	}

	.grid {
		display: none;
		z-index: 10;
	}
	.padding {
		padding: 0vw 6vw;
	}
	/* --------------------------------- */
	.homepage-titel {
		padding: 10vw 5vw;
		height: 70vw;
		margin-bottom: 10vw;
	}
	.homepage-titel-info {
		height: 10vw;
		padding-left: 17vw;
		padding-top: 10vw;
		text-align: right;
	}

	.homepage-titel-image {
		width: 50vw;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 5vw;
	}

	.GE1 {
		position: absolute;
		margin-left: -5vw;
		margin-top: -30vw;
		width: 55vw;
		height: auto;
		z-index: -1;
		margin-bottom: 25vw;
	}
	.GE2 {
		width: 15vw;
		padding-top: 10vw;
		padding-left: 3vw;
		z-index: 1;
	}
	.GE3 {
		position: absolute;
		margin: 0.5vw 0vw 0vw 4vw;
		z-index: -1;
		width: 10vw;
		height: auto;
	}
	.button {
		margin-bottom: 15vw;
	}

	.homepage-image-building {
		width: 100%;
		margin: 8vw 0vw;
	}
	.homepage-image-info {
		height: 40vw;
		width: 100%;
	}

	.homepage-labs {
		margin-top: 10vw;
		margin-left: 0.5vw;
		width: 84.25vw;
		align-self: center;
	}

	.homepage-lab {
		height: 44.5vw;
		width: 27.5vw;
	}
	.homepage-lab-name {
		height: 15vw;
	}
	.homepage-lab-image {
		width: 27vw;
	}
	.GE4 {
		position: absolute;
		margin: 0vw 0vw 0vw 3vw;
		z-index: -1;
		width: 8vw;
		height: auto;
	}

	/* lab ------------------------------------------ */
	.lab-titel-image {
		position: relative;
		width: 80vw;
	}
	.lab-titel {
		padding: 0vw 6vw 0vw 6vw;
		height: 160vw;
	}

	.lab-titel-info {
		width: auto;
		height: 12vw;
	}
	.lab-GE1 {
		position: absolute;
		z-index: -1;
		margin-left: -6vw;
		margin-top: 1vw;
		width: 30vw;
	}
	.machinepark {
		padding: 8vw 5vw 0vw 8vw;
		flex-wrap: wrap;
	}
	.machines {
		margin-top: 2.5vw;
	}
	.machine {
		width: 27vw;
		height: 32.5vw;
		margin-right: 1.5vw;
	}
	.machine-info {
		height: 10vw;
	}
	.machine-info p {
		margin-bottom: 1vw;
	}
	.machine img {
		width: 27vw;
	}
	.lab-image2 {
		width: 10vw;
	}
	.bottom-image {
		height: 70vw;
		align-content: flex-start;
		width: 40vw;
	}
	.lab-info {
		width: 90%;
		padding-left: 8vw;
	}
	.lab-info-height {
		height: 90vw;
	}
	/*studio----------------------------------------*/

	.studio-titel-info {
		width: 100%;
	}

	.studio-image2 {
		width: 82vw;
		margin-top: 6vw;
	}

	.tekst-studio {
		width: 82vw;
	}

	.margin-studio {
		margin-top: 70vw;
	}

	.margin-studio2 {
		margin-top: 90vw;
	}

	/* carousel ----------------------------------*/
	@keyframes tonext {
		75% {
			left: 0;
		}
		95% {
			left: 100%;
		}
		98% {
			left: 100%;
		}
		99% {
			left: 0;
		}
	}

	@keyframes tostart {
		75% {
			left: 0;
		}
		95% {
			left: -300%;
		}
		98% {
			left: -300%;
		}
		99% {
			left: 0;
		}
	}

	@keyframes snap {
		96% {
			scroll-snap-align: center;
		}
		97% {
			scroll-snap-align: none;
		}
		99% {
			scroll-snap-align: none;
		}
		100% {
			scroll-snap-align: center;
		}
	}

	* {
		box-sizing: border-box;
		scrollbar-color: transparent transparent; /* thumb and track color */
		scrollbar-width: 0px;
		-ms-overflow-style: none;
	}

	*::-webkit-scrollbar {
		width: 0;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}

	.carousel ol,
	.carousel li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.carousel {
		position: relative;
		perspective: 100px;
		margin-bottom: 5.5vw;
	}

	.carousel__viewport {
		margin-left: 0.5vw;
		width: 84.25vw;
		align-self: center;
		display: flex;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
	}

	.carousel__slide {
		position: relative;
		width: 100%;
	}

	.carousel__snapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 75vw;
		scroll-snap-align: center;
	}

	.margin-bottom {
		margin-bottom: 5vw;
	}

	.margin-top {
		margin-top: 20vw;
	}

	@media (hover: hover) {
		.carousel__snapper {
			animation-name: tonext, snap;
			animation-timing-function: ease;
			animation-duration: 4s;
			animation-iteration-count: infinite;
		}

		.carousel__slide:last-child .carousel__snapper {
			animation-name: tostart, snap;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.carousel__snapper {
			animation-name: none;
		}
	}

	.carousel:hover .carousel__snapper,
	.carousel:focus-within .carousel__snapper {
		animation-name: none;
	}

	.carousel__navigation {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
	}

	.carousel__navigation-list,
	.carousel__navigation-item {
		display: inline-block;
	}

	.carousel__navigation-button {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		background-clip: content-box;
		border: 0.25rem solid transparent;
		border-radius: 50%;
		font-size: 0;
		transition: transform 0.1s;
	}

	.carousel::before,
	.carousel::after,
	.carousel__prev,
	.carousel__next {
		/*invis btns waar je op klikt*/
		position: absolute;
		z-index: 3;
		top: 0;
		margin: 62vw 7vw 0vw 7vw;
		width: 1.8rem;
		height: 1.8rem;
		transform: translateY(-50%);
		border-radius: 50%;
		font-size: 0;
		outline: 0;
	}

	.carousel::before,
	.carousel__prev {
		left: -1rem;
	}

	.carousel::after,
	.carousel__next {
		right: -1rem;
	}

	.carousel::before,
	.carousel::after {
		content: "";
		margin: 62vw 17vw 0vw 13vw;
		z-index: 1;
		background-color: #441e1d;
		background-size: 1rem 1rem; /*driehoekjes*/
		background-repeat: no-repeat;
		background-position: center center;
	}

	.carousel::before {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
	}

	.carousel::after {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
	}

	.carousel img {
		width: 85vw;
		height: 80vw;
	}

	.machine-carousel img {
		height: 60vw;
	}
}
