.grid {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
	display: none;
}
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.padding-left {
	padding-left: 8.25vw;
}
.padding-right {
	padding-right: 8.25vw;
}
.pc {
	display: flex;
}
.mobile {
	display: none;
}
/* ------------------------------------------------------------------------------------------------------- */
.homepage-titel {
	padding: 0.8vw 7.5vw;
	height: 37.5vw;
	margin-bottom: 15vw;
}
.homepage-titel-info {
	height: 11vw;
	padding-left: 0.5vw;
	z-index: 2;
}
.titel-images-behind {
	padding-top: 7.5vw;
	z-index: -1;
	position: absolute;
	width: 49vw;
}
.titel-images-front {
}
.image-front {
	padding-top: 4vw;
	width: 27.5vw;
}
.image-behind {
	width: 20vw;
}

.elements {
	position: absolute;
	width: 85.25vw;
}
.homepage-titel-image {
	width: 50vw;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 5vw;
}

.GE1 {
	margin-left: -7.5vw;
	padding-top: 1.5vw;
	width: 28vw;
	height: auto;
	z-index: -1;
}
.GE2 {
	width: 15vw;
	padding-top: 10vw;
	padding-left: 3vw;
	z-index: 1;
}
.GE3 {
	position: absolute;
	margin: 0.5vw 0vw 0vw 4vw;
	z-index: -1;
	width: 10vw;
	height: auto;
}

.homepage-image-building {
	width: 50vw;
}
.homepage-image-info {
	height: 27.5vw;
	width: 35vw;
	padding-right: 7.5vw;
	padding-top: 1vw;
}

.homepage-labs {
	margin-top: 10vw;
	margin-left: 0.5vw;
	width: 84.25vw;
	align-self: center;
}

.homepage-lab {
	height: 44.5vw;
	width: 27.5vw;
}
.homepage-lab-name {
	height: 15vw;
}
.homepage-lab-image {
	width: 27vw;
}
.GE4 {
	position: absolute;
	margin: 0vw 0vw 0vw 3vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}

/* --------------------------------------------------------------------------------------------------------------- */
.studio-titel-image {
	position: absolute;
	z-index: -1;
	margin-top: -5vw;
	width: 42.25vw;
}
.studio-titel {
	padding: 2vw 0vw 0vw 50.5vw;
	height: 32.5vw;
	margin-bottom: 5vw;
}
.studio-titel-info {
	width: 34vw;
	height: 12.5vw;
}
.studio-info {
	width: 41.5vw;
	height: 15vw;
	padding-top: 8vw;
}

.studio-image2 {
	width: 42.5vw;
}

/* medialab en fablab------------------------------------------------------------------------------------------------------------- */
.lab-titel-image {
	position: absolute;
	z-index: -1;
	margin-top: -5vw;
	width: 42.25vw;
}
.lab-titel {
	padding: 2vw 0vw 0vw 50.5vw;
	height: 27.5vw;
}

.lab-titel-info {
	width: 34vw;
	height: 12vw;
}
.lab-GE1 {
	position: absolute;
	z-index: -1;
	margin-left: -6vw;
	margin-top: 1vw;
	width: 15vw;
}
.machinepark {
	padding: 8vw 5vw 0vw 8vw;
	flex-wrap: wrap;
}
.machines {
	margin-top: 2.5vw;
}
.machine {
	width: 27vw;
	height: 32.5vw;
	margin-right: 1.5vw;
}
.machine-info {
	height: 10vw;
}
.machine img {
	width: 27vw;
}
.lab-image2 {
	width: 10vw;
}
.bottom-image {
	height: 70vw;
	align-content: flex-start;
	width: 40vw;
}
.lab-info {
	width: 41.5vw;
	padding-left: 8vw;
}
.lab-info-height {
	height: 15vw;
}
/* mobile________________________________________________________________________________________________________- */
@media screen and (max-width: 768px) {
	.pc {
		display: none;
	}
	.mobile {
		display: flex;
	}
	.flex-responsive {
		flex-direction: column;
	}
	.grid {
		display: flex;
		z-index: -5;
	}
	/* --------------------------------- */
	.homepage-titel {
		padding: 10vw 5vw;
		height: 50vw;
		margin-bottom: 10vw;
	}
	.homepage-titel-info {
		height: 10vw;
		padding-left: 17vw;
		padding-top: 12vw;

		text-align: right;
	}
	.carousel {
		height: 80vw;
		margin-bottom: 5.5vw;
	}
	.homepage-titel-image {
		width: 50vw;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 5vw;
	}

	.GE1 {
		margin-left: -7.5vw;
		padding-top: 1.5vw;
		width: 28vw;
		height: auto;
		z-index: -1;
	}
	.GE2 {
		width: 15vw;
		padding-top: 10vw;
		padding-left: 3vw;
		z-index: 1;
	}
	.GE3 {
		position: absolute;
		margin: 0.5vw 0vw 0vw 4vw;
		z-index: -1;
		width: 10vw;
		height: auto;
	}

	.homepage-image-building {
		width: 50vw;
	}
	.homepage-image-info {
		height: 27.5vw;
		width: 35vw;
		padding-right: 7.5vw;
		padding-top: 1vw;
	}

	.homepage-labs {
		margin-top: 10vw;
		margin-left: 0.5vw;
		width: 84.25vw;
		align-self: center;
	}

	.homepage-lab {
		height: 44.5vw;
		width: 27.5vw;
	}
	.homepage-lab-name {
		height: 15vw;
	}
	.homepage-lab-image {
		width: 27vw;
	}
	.GE4 {
		position: absolute;
		margin: 0vw 0vw 0vw 3vw;
		z-index: -1;
		width: 8vw;
		height: auto;
	}
}
