.grid {
	position: absolute;
	width: 100%;
	display: none;
}
.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}

.title-image-decoration {
	position: absolute;
	z-index: -1;
	margin-left: -7.5vw;
	margin-top: 0vw;
	width: 15vw;
}
.title {
	margin-bottom: 5vw;
}
.info {
	width: 34vw;
	height: 40vw;
}
.info-timetable {
	width: 34vw;
	height: 22.5vw;
}
.info-height {
	width: 34vw;
	height: 7.5vw;
}
.info-width {
	width: 34vw;
}
.info1 {
	height: 13.5vw;
}
.padding {
	padding-left: 8vw;
	padding-right: 8vw;
}

/* -------------------------------------------------------------------------------- */

.GE1-small {
	position: absolute;
	margin: 0.25vw 0vw 0vw 2vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}
.GE1-large {
	position: absolute;
	margin: 0.25vw 0vw 0vw 6vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}

.map {
	width: 100%;
}
.timetable {
	width: 100%;
}
.praktische-info {
	height: 40vw;
	margin-bottom: 10vw;
}
.contact-info {
	height: 20vw;

	margin-bottom: 4.5vw;
}
.text-input {
	width: 34vw;
	height: 3vw;
}
textarea {
	height: 11vw;
	width: 34vw;
}
.border-cut {
	border-top-right-radius: 150vw;
	border-width: 3px;
	border-style: solid;
}

/* ------------------------------------------------------------ */
.machine-info {
	height: 27.5vw;
}
.tutorial-GE1 {
	position: absolute;
	margin: 0.25vw 0vw 0vw 6vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}
.padding-left {
	padding-left: 8.25vw;
}
.thumbnail {
	width: 40vw;
}
.machine-GE2 {
	position: absolute;
	margin: 20vw 0vw 0vw -7.5vw;
}
.tutorial {
	width: 40vw;
	height: 32.5vw;
}
/* ----------------------------------------------------------- */
.radio {
	transform: scale(2);
	margin-right: 1vw;
}
.radio-text {
	width: 8.5vw;
}
.radio-inputs {
	width: 50vw;
	margin-bottom: 2.5vw;
}
.blog {
	margin-top: 1vw;
	display: flex;
	flex-wrap: wrap;
}
.blog-image {
	width: 27vw;
}
.blog-item {
	width: 27vw;
	margin-bottom: 5vw;
}
.blog-item-info {
	padding: 2.5vw 2.5vw 0vw 2.5vw;
	height: 25vw;
}
.blog-www {
	width: 20vw;
	margin-top: -3vw;
}
.blog-waar {
	width: 22vw;
}
.blog-date {
	width: 8vw;
	align-items: center;
}
.icon {
	width: 1.5vw;
}
.margin- {
	margin-top: -5vw;
}
/* ----------------------------------------------------------- */
.activiteit-image-info {
	width: 10vw;
	text-align: center;
	padding: 0.5vw 0vw;
	border-radius: 0.75vw;
	z-index: 1;
	position: absolute;
	margin-top: 13.5vw;
	margin-left: 0.5vw;
}
