.grid {
	position: absolute;
	width: 100%;
	display: ;
}
.flex {
	display: flex;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}
/* ----------------------------------------------------------------------------------------------- */
.title-image-decoration {
	position: absolute;
	z-index: -1;
	margin-left: -6vw;
	margin-top: -1.25vw;
	width: 12.5vw;
}
.title {
	padding-top: 1.5vw;
	margin-bottom: 7.5vw;
}
.info {
	width: 34vw;
	height: 40vw;
}

.GE1-small {
	position: absolute;
	margin: 0.25vw 0vw 0vw 2vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}
.GE1-large {
	position: absolute;
	margin: 0.25vw 0vw 0vw 6vw;
	z-index: -1;
	width: 8vw;
	height: auto;
}
.padding {
	padding-left: 8.25vw;
	padding-right: 8.25vw;
}
.map {
	width: 100%;
}
.timetable {
	width: 100%;
}
