.reserveer {
	height: 40vw;
	width: 85vw;
	margin-bottom: 10vw;
}
.none {
	display: none;
}
.display {
	display: flex;
}
/* -------------------------------------------------------------------------------------------------- */
.fase-indicators {
	width: 7.5vw;
}

.fase-indicator {
	display: flex;
	width: 1vw;
	justify-content: space-between;
}
.fase-1-indicator {
	border-radius: 50%;
	padding: 0vw 0.9vw;
	border-style: solid;
}
.fase-2-indicator {
	border-radius: 50%;
	padding: 0vw 0.8vw;
	border-style: solid;
}
/* ---------------------------------------------------------------------------------------------------- */
.radio-inputs {
	width: 35vw;
}
.fase-1 {
	height: 40vw;
	width: 85vw;
}
.fase-1-part-1 {
	height: 30vw;
}
.fase-1-part-2 {
	height: 15vw;
	width: 27.75vw;
}
/* ---------------------------------------------------------------------------------------------------- */
.fase-2 {
	height: 40vw;
	width: 85vw;
}
.fase-2-part-1 {
	height: 30vw;
}
.fase-2-part-2 {
	height: 23.25vw;
}

.contact-textarea {
	height: 12.5vw;
	border-width: 3px;
	resize: none;
	width: 47.5vw;
	margin-top: 0.5vw;
	border-bottom-right-radius: 7.5vw;
}
#submit {
	padding: 0.5vw 2vw;
}
.text-input {
	height: 3vw;
	border-width: 3px;
	width: 33.5vw;
	margin-top: 0.5vw;
	border-top-right-radius: 7.5vw;
	border-style: solid;
}
.text-input-2 {
	height: 3vw;
	border-width: 3px;
	width: 20vw;
	margin-top: 0.5vw;
	border-top-right-radius: 7.5vw;
	border-style: solid;
}

#EhB {
	margin-bottom: 0vw;
}

.width {
	width: 50vw;
}
::-webkit-calendar-picker-indicator {
	margin-right: 2vw;
}
input[type="time"]::-webkit-calendar-picker-indicator {
	background: none;
}
#calendar {
	width: 35vw;
	height: 23.5vw;
}
.fc-timegrid-slot {
	height: 8.4vh;
}

.fc-timegrid-event-harness {
	height: 8.4vh;
}

.fc-timegrid-event {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-frame {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-fill {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-content {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-title {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-time {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-bg {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-fg {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-mirror {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-mirror-bg {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-mirror-fg {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-mirror-time {
	height: 8.4vh;
}

.fc-timegrid-event-harness-inset-mirror-title {
	height: 8;
}

.loading {
	position: absolute;
	z-index: 15;
	height: auto;
	width: auto;
	margin-top: -5vw;
	align-items: center;
	padding: 5vw 7.5vw;
	align-self: center;
	border: solid;
	border-width: 1px;
}
.spinner-border {
	width: 5vw;
	height: 5vw;
	border: 3px solid #ccc;
	border-top: 3px solid #333;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.fc .fc-prev-button.fc-button {
	background-color: #f9a084;
	border-color: #f9a084;
	color: #441e1d;
}

.fc .fc-next-button.fc-button {
	background-color: #f9a084;
	border-color: #f9a084;
	color: #441e1d;
}

.fc .fc-today-button.fc-button {
	background-color: #95d0d3;
	border-color: #95d0d3;
	color: #ffffff;
}
.fc-event {
	background-color: #ff6035;
	border-color: #ff6035;
}
