body {
	padding: 50px;
	background-color: ;
}
div {
	margin-bottom: 50px;
}
.color-display {
	width: 50px;
	height: 50px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */
.color1 {
	background-color: ;
}

.color2 {
	background-color: ;
}
.color3 {
	background-color: ;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
h1 {
}
h2 {
}
h3 {
}
p {
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.btn-primary {
	padding: 0.25vw 3vw;
	border-radius: 25vw;
	border-color: ;
	background-color: white;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */
img {
	width: 30vw;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.none1 {
	display: none;
}
.none3 {
	display: none;
}
