body {
	background-color: #37393b;
}
.styleguide div {
	margin-bottom: 2.5vw;
}
.styleguide {
	z-index: -2;
	padding: 50px;
	position: relative;
}
.div-color {
	display: flex;
}
.color-display {
	width: 3.5vw;
	height: 3.5vw;
	margin-right: 1vw;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.navigation {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0vw;
	background-color: black;
}
.navigation-items {
	display: flex;
	justify-content: space-around;
	width: 70vw;
	align-items: center;
}
.logo {
	width: auto;
	height: 3.5vw;
}
.nav-arrow-down {
	width: 1.5vw;
	height: 1vw;
	padding: 0.65vw;
}
.nav-arrow-up {
	width: 1.5vw;
	height: 1vw;
	padding: 0.65vw;
}
.navigation-item {
	color: white;
	text-decoration: none;
	font-family: parkway-motel, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2vw;
	vertical-align: middle;
}
.dropdown {
	background-color: black;
	border: none;
}
.dropdown-menu {
	display: flex;
	flex-direction: column;
	background-color: black;
	width: fit-content;
	padding: 1vw 1vw 0.25vw 1vw;
	margin-left: 80vw;
	position: fixed;
}
.dropdown-item {
	color: white;
	text-decoration: none;
	font-family: parkway-motel, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5vw;
	vertical-align: middle;
	margin-bottom: 0.75vw;
}
.none {
	display: none;
}
.display {
	display: flex;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.color1 {
	background-color: #113768;
}

.color2 {
	background-color: #007992;
}
.color3 {
	background-color: #3eb489;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
h1 {
	color: white;
	font-family: tachyon, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 7.5vw;
}
h2 {
	color: white;
	font-family: tachyon, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.5vw;
}
h3 {
	color: white;
	font-family: darkmode-on, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.5vw;
}
p {
	color: white;
	font-family: darkmode-on, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2vw;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.btn-primary {
	padding: 0.25vw 3vw;
	border-radius: 0vw;
	border-color: white;
	background-color: #37393b;
	text-decoration: none;
	color: white;
	font-family: darkmode-on, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2vw;
}

.btn-primary:hover {
	background-color: white;
	border-color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */
img {
	height: 450px;
	width: 450px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.none {
	display: none;
}
.none2 {
	display: none;
}
.none3 {
	display: none;
}
