body {
	padding: 50px;
	background-color: #f3f2f0;
}
div {
	margin-bottom: 50px;
}
.color-display {
	width: 50px;
	height: 50px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.color1 {
	background-color: #441e1d;
}

.color2 {
	background-color: #ff6035;
}
.color3 {
	background-color: #95d0d3;
}
.color4 {
	background-color: #f3f2f0;
}
.color5 {
	background-color: black;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
h1 {
}
h2 {
}
h3 {
}
p {
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.btn-primary {
	padding: 0.25vw 3vw;
	border-radius: 25vw;
	border-color: black;
	/* background-color: #37393b; */
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
img {
	height: 150px;
	width: 150px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.none1 {
	display: none;
}
.none2 {
	display: none;
}
